<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal"
    package="com.odeval.scoopit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:name=".ScoopItApp"
        android:debuggable="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >

        <!-- Login and oauth -->
        <activity
            android:name=".OAuth.LoginActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="x-oauthflow" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.topic.CuratedTopicListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.post.TabPostsListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.post.PostCurateActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.post.PostViewActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.post.PostViewBeforeCurateActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>